*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
main{
    width: 100vw;
    height: 100vh;
}
section{
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: repeat(6, 10vh);
}